html, body, div, .container {
  background-color: #28784D;
  color: #032436;
  font-family: 'Oswald', sans-serif;
  font-weight: bold; 
}

h1 {
  padding: 2rem; 
}

.btn-secondary {
  font-weight: 400;
  color: #032436;
  width: 100%;
  background-color:#535993;
  border-color: #535993;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 4rem;
}

.btn-secondary:hover {
  color: #477187;
  background-color: #191F58;
  border-color: #191F58;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #477187;
  background-color: #191F58;
  border-color: #191F58;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-danger {
  display: block;
  width: 90%;
  margin: auto;
}

.card {
  background-color: black;
}

.form-div {
  background-color: black;
  margin-top: 2rem;
}

